* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(104, 132, 142);
}

.board {
  width: calc(90px * 8);
  height: calc(90px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 78px;
  height: 78px;
  position: relative;
}

.black {
  background-color: rgb(27, 106, 184);
}

.white {
  background-color: rgb(250, 211, 126);
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(101, 202, 0);
}

.underAttack {
  background: green;
}

.lost {
  padding: 20px;
}
.timer {
  padding: 20px;
}
button {
  background-color: rgb(27, 106, 184);
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: rgb(250, 211, 126);
  cursor: pointer;
}
button:hover {
  background-color: rgb(58, 148, 238);
}
button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}
